---
import { getCollection } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en" class="bg-white text-black dark:bg-black dark:text-white">
  <head>
    <BaseHead title={"air2.earth"} description={""} />
  </head>

  <Header />

  <body>
    <main
      class="lg:ml-auto lg:mr-auto ml-5 mr-5 mb-5 prose lg:prose-xl dark:prose-invert max-w-6xl prose-a:underline hover:prose-a:no-underline prose-a:transition-all prose-a:text-black hover:prose-a:bg-black hover:prose-a:text-white dark:prose-a:text-white dark:hover:prose-a:bg-white dark:hover:prose-a:text-black hover:prose-a:rounded"
    >
      <h1>welcome to air2.earth</h1>
      <p>
        the informal blog space companion from <a href="https://mmatt.net"
          >mmatt.net</a
        >
      </p>
      <h3>subscribe via rss:</h3>
      <p>
        check out the rss feed at: <a href="/rss.xml">air2.earth/rss.xml</a>
      </p>
      <h3>latest posts</h3>
      <div class="flex flex-col gap-2">
        {
          posts.map((post) => (
            <a href={`/blog/${post.slug}/`} class="h-entry">
              {post.data.title}
            </a>
          ))
        }
      </div>
    </main>
  </body>
</html>
